/*
Project Name: Twitter Bootstrap Framework
*/

html, 
body {
	height: 100%;
}

/*..................................the typography */
h1 {
	line-height: 1;

	&.serif {
		font-size: 130px;
	}

	&.sans {
		font-size: 55px;
	}
}

h2 {
	&.serif {
		font-size: 105px;
	}

	&.sans {
		font-size: 42px;
	}
}

h3 {
	&.serif {
		font-size: 70px;
	}

	&.sans {
		font-size: 24px;
	}
}

h4 {
	&.serif {
		font-size: 55px;
	}

	&.sans {
		font-size: 18px;
	}
}

h5 {
	&.serif {
		font-size: 40px;
	}

	&.sans {
		font-size: 18px;
		font-weight: 600;
	}
}

h6 {
	&.serif {
		font-size: 36px;
	}

	&.sans {
		font-size: 16px;
	}
}

.serif {
	font-family: @serifFontFamily;
	font-weight: 400;
}

.sans {
	font-family: @sansFontFamily;
	font-weight: 400;
}


.p-numbers {
    font-family: Linden Hill;
    font-size: 24px;
    font-weight: normal;
    line-height: 20;
}

.p-address {
    font-family: Linden Hill;
    font-size: 18px;
    font-weight: normal;
    line-height: 18;
}

.p {
    font-family: Source Sans Pro;
    font-size: 16px;
    font-weight: normal;
    line-height: 18;
}

.-copy-xs {
    font-family: Source Sans Pro;
    font-size: 12px;
    font-weight: normal;
    line-height: 12;
}

.-copy-s {
    font-family: Source Sans Pro;
    font-size: 14px;
    font-weight: normal;
    line-height: 14;
}

/*..................................the header */
.navbar-fixed-top .navbar-inner {
	box-shadow: none;
}

.navbar {

	.brand {
		margin-top: 30px;
	}

	.nav {
		margin-top: 23px;
		margin-right: 0;

		& > li > a {
			padding: 1px 0 1px 10px;
			color: @white;
			font-size: 18px;
			font-weight: 200;
			text-shadow: none;
			text-transform: uppercase;

			&:hover {
				color: @linkColor;
			}
		}
	}
}

// The Support Group
#support-group-details {
	position: absolute;
	top: 0;
	z-index: 99999999;
	display: none;
	width: 100%;
	height: 300px;
	background-color: @white;
}

#support-group {
	width: 100%;
	height: 35px;
	background-color: @black;

	#sg-tab {
		width: 270px;
		height: 50px;
		margin-bottom: -20px;
		background-color: @black;
		text-align: center;

		span {
			font-size: 18px;
			font-weight: 600;
			line-height: 3;
			text-transform: uppercase;

			a {
				color: @white;

				img {
					padding-left: 10px;
				}

				&:hover {
					color: @linkColor;
					text-decoration: none;
				}
			}
		}
	}
}

/*..................................the landing page */
// First section
#models {
	height: 100%;
	margin-bottom: -425px;
}

.inner-slide {
	margin-top: 400px;

	h4 {
		font-weight: 400;

		.i-am {
			color: @white;
			font-family: @sansFontFamily;
			font-size: 60px;
			line-height: 1.6;
			font-weight: 300;
		}

		.descriptor {
			display: block;
			font-family: @serifFontFamily;
			font-size: 124px;
		}
	}
}

#slide-landing1 {

	.i-am {
		padding-left: 85px;
	}

	.descriptor {
		color: @cream;
	}
}

#slide-landing2 {
	.descriptor {
		color: @blueGreen;
	}
}

#slide-landing3 {
	.descriptor {
		color: @royalPurple;
	}
}

#slide-landing4 {
	.descriptor {
		padding-left: 20px;
		color: @princessPink;
	}
}

#headlines {
	display: none;
	height: 300px;
	color: @white;

	h1 {
		position: relative;
		display: inline-block;
		padding: 5px 20px 5px 0;
		font-family: @sansFontFamily;
		font-weight: 300;
		text-transform: uppercase;
		background-color: rgba(0,0,0,0.5);

		a {
			color: @white;

			&:hover {
				color: @linkColor;
				text-decoration: none;
			}
		}

		&:before {
			content: "";
			position: absolute;
			right: 100%;
			background-color: rgba(0,0,0,0.5);  /* Match the background */
			top: 0;
			bottom: 0;
			width: 9999px;   /* some huge width */
		}

		.headline {
			display: block;
			margin-bottom: -15px;
			font-size: 42px;
		}

		.sub-headline {
			font-size: 24px;
		}
	}
}

//Featured Classes
#feature-classes {
	.slides-container {

		.inner-slide {
			margin-top: 300px;
		}

		img.layer-img {
			position: relative;
			top: -400px;
			display: block;
			margin: 0 auto;
		}

		// .class-cat {
		// 	color: @white;
		// 	font-weight: 300;
		// 	text-transform: uppercase;
		// }

		.class-icon {
			position: relative;
			float: left;
			.square(156px);
			// background: url(../img/runner-icon.png) no-repeat 20px center;

			.quarter {
				position: relative;
				float: left;
				.square(76px);

				&:first-child {
					border-top: solid 2px;
					border-left: solid 2px;
					.border-top-left-radius(100%);
				}

				&:nth-child(2) {
					border-top: solid 2px;
					border-right: solid 2px;
					.border-top-right-radius(100%);
				}

				&:nth-child(3) {
					border-bottom: solid 2px;
					border-left: solid 2px;
					.border-bottom-left-radius(100%);
				}
			}
		}

		.class-titles {
			position: relative;
			top: -108px;
			// margin-top: -100px;	
		}

		h1 {
			margin-top: -45px;
			// color: @royalPurple;
			text-transform: lowercase;
		}

		h3 {
			position: relative;
			// left: 15px;
			display: inline-block;
			padding-top: 15px;
			line-height: 1;
			font-weight: 300;
			text-transform: uppercase;
			// background-color: @black;
		}

		#slide-classes1 a {
			
			h1 {
				color: @royalPurple;
			}

			h3 {
				left: 15px;
				color: @white;
				background-color: @black;
			}

			.class-icon {
				background: url(../img/runner-icon.png) no-repeat 20px center;

				.quarter {
					border-color: @royalPurple;
				}
			}

			&:hover {

				background-color: @royalPurple;

				h1 {
					// display: none;
					color: @black;
				}
			}
		}

		#slide-classes2 {

			h1 {
				color: @calypso;
			}

			h3 {
				left: 60px;
				color: @grayLight;
				background-color: @white;
			}

			.class-icon {
				background: url(../img/cutlery-icon.png) no-repeat 45px center;

				.quarter {
					border-color: @calypso;
				}
			}
		}

		#slide-classes3 {
			@spirit-care: @cream;

			.class-titles {
				margin-left: 50px;
			}
			
			h1 {
				color: @spirit-care;
				line-height: 1;

				span {
					position: relative;
					top: -30px;
					display: block;
					line-height: 1;
					margin-left: 150px;
				}
			}

			h3 {
				// left: 60px;
				color: @white;
				background-color: transparent;
			}

			.class-icon {
				background: url(../img/heart-icon.png) no-repeat center center;

				.quarter {
					border-color: @spirit-care;
				}
			}
		}

		#slide-classes4 {

			.class-titles {
				position: relative;
				left: 70px;
			}
			
			h1 {
				color: @princessPink;
			}

			h3 {
				// left: 60px;
				color: @black;
				background-color: transparent;
			}

			.class-icon {
				background: url(../img/speech-icon.png) no-repeat 20px center;

				.quarter {
					border-color: @princessPink;
				}
			}
		}
	}
}

/*..................................the footer */
footer {
	position: fixed;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 99999;
	height: 35px;
	line-height: 2.5;
	background-color: @black;
	color: @grayLight;
	text-transform: uppercase;

	a {
		color: @grayLight;

		&:hover {
			color: @linkColor;
		}
	}
}

.social-media {
	float: left;

	img {
		padding-right: 10px;
	}
}

.footer-nav {
	width: 541px;
	margin: 0 auto;

	 li {
	 	display: block;
	 	float: left;

	 	a {
	 		padding: 0 10px;
	 		line-height: 2.5;
	 	}

	 	&:after {
	 		content: "/";
	 	}

	 	&:last-child {
	 		&:after {
	 			content: " ";
	 		}
	 	}
	}
}

/*..................................the image utilities */
img.size-auto,
img.size-full,
img.size-large,
img.size-medium,
.attachment img {
	max-width: 100%; /* When images are too wide for containing element, force them to fit. */
	height: auto; /* Override height to match resized width for correct aspect ratio. */
}
.alignleft,
img.alignleft {
	display: inline;
	float: left;
	margin-right: 24px;
	margin-top: 4px;
}
.alignright,
img.alignright {
	display: inline;
	float: right;
	margin-left: 24px;
	margin-top: 4px;
}
.aligncenter,
img.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
img.alignleft,
img.alignright,
img.aligncenter {
	margin-bottom: 12px;
}










.entry-title {
	
}

.entry-meta {
	
}

.entry-utility {
	
}

.entry-content {
	
}

.entry-summary {
	
}

/*..................................the slides */
#slides {
  position: relative;
  z-index: 0;
}
#slides .slides-container {
  display: none;
}
#slides .scrollable {
  *zoom: 1;
  position: relative;
  top: 0;
  left: 0;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  height: 100%;
}
#slides .scrollable:after {
  content: "";
  display: table;
  clear: both;
}

.slides-navigation {
  margin: 0 auto;
  position: absolute;
  z-index: 3;
  top: 46%;
  width: 100%;
}
.slides-navigation a {
  position: absolute;
  display: block;
}
.slides-navigation a.prev {
  left: 0;
}
.slides-navigation a.next {
  right: 0;
}

.slides-pagination {
  position: absolute;
  z-index: 3;
  bottom: 50px;
  text-align: center;
  width: 100%;
}
.slides-pagination a {
  border: 2px solid @white;
  border-radius: 15px;
  width: 10px;
  height: 10px;
  display: inline-block;
  margin: 2px;
}

.slides-pagination a.current {
  background: @white;

  &:first-child {
  	background: @cream;
  }

  &:nth-child(2) {
  	background: @blueGreen;
  }

  &:nth-child(3) {
  	background: @royalPurple;
  }

  &:nth-child(4) {
  	background: @princessPink;
  }
}


@media (max-height: 768px) {
	#models {
		margin-bottom: -300px;
	}

	#headlines h1 {
		padding: 0px 20px 0px 0;
		line-height: 1.2;
	}

	#headlines h1 .headline {
		margin-bottom: -28px;
		font-size: 32px;
	}

	#headlines h1 .sub-headline {
		font-size: 14px;
	}
}
