/*
Project Name: Twitter Bootstrap Framework
*/

html, 
body {
	height: 100%;
}

/*..................................the header */
.navbar-fixed-top .navbar-inner {
	box-shadow: none;
}

.navbar {

	.brand {
		margin-top: 30px;
	}

	.nav {
		margin-top: 23px;
		margin-right: 0;

		& > li > a {
			padding: 1px 0 1px 10px;
			color: @white;
			font-size: 18px;
			font-weight: 200;
			text-shadow: none;
			text-transform: uppercase;

			&:hover {
				color: @linkColor;
			}
		}
	}
}

// The Support Group
#support-group-details {
	position: absolute;
	top: 0;
	z-index: 99999999;
	display: none;
	width: 100%;
	height: 300px;
	background-color: @white;
}

#support-group {
	width: 100%;
	height: 35px;
	background-color: @black;

	#sg-tab {
		width: 270px;
		height: 50px;
		margin-bottom: -20px;
		background-color: @black;
		text-align: center;

		span {
			font-size: 18px;
			font-weight: 600;
			line-height: 3;
			text-transform: uppercase;

			a {
				color: @white;

				img {
					padding-left: 10px;
				}

				&:hover {
					color: @linkColor;
					text-decoration: none;
				}
			}
		}
	}
}

/*..................................the landing page */
// First section
#models {
	height: 100%;
	margin-bottom: -425px;
}

.inner-slide {
	margin-top: 400px;

	h4 {
		font-weight: 400;

		.i-am {
			color: @white;
			font-family: @sansFontFamily;
			font-size: 60px;
			line-height: 1.6;
			font-weight: 300;
		}

		.descriptor {
			display: block;
			font-family: @serifFontFamily;
			font-size: 124px;
		}
	}
}

#slide-landing1 {

	.i-am {
		padding-left: 85px;
	}

	.descriptor {
		color: @cream;
	}
}

#slide-landing2 {
	.descriptor {
		color: @blueGreen;
	}
}

#slide-landing3 {
	.descriptor {
		color: @royalPurple;
	}
}

#slide-landing4 {
	.descriptor {
		padding-left: 20px;
		color: @princessPink;
	}
}

#headlines {
	bottom: 60px;
	height: 300px;
	color: @white;

	h1 {
		position: relative;
		display: inline-block;
		padding: 5px 20px 5px 0;
		font-family: @sansFontFamily;
		font-weight: 300;
		text-transform: uppercase;
		background-color: rgba(0,0,0,0.5);

		a {
			color: @white;

			&:hover {
				color: @linkColor;
				text-decoration: none;
			}
		}

		&:before {
			content: "";
			position: absolute;
			right: 100%;
			background-color: rgba(0,0,0,0.5);  /* Match the background */
			top: 0;
			bottom: 0;
			width: 9999px;   /* some huge width */
		}

		.headline {
			display: block;
			margin-bottom: -15px;
			font-size: 42px;
		}

		.sub-headline {
			font-size: 24px;
		}
	}
}

#latest-post {
	margin-top: 150px;
	height: 200px;
}

/*..................................the footer */
footer {
	position: fixed;
	right: 0;
	bottom: 0;
	left: 0;
	height: 35px;
	line-height: 2.5;
	background-color: @black;
	color: @grayLight;
	text-transform: uppercase;

	a {
		color: @grayLight;

		&:hover {
			color: @linkColor;
		}
	}
}

.social-media {
	float: left;

	img {
		padding-right: 10px;
	}
}

.footer-nav {
	width: 541px;
	margin: 0 auto;

	 li {
	 	display: block;
	 	float: left;

	 	a {
	 		padding: 0 10px;
	 		line-height: 2.5;
	 	}

	 	&:after {
	 		content: "/";
	 	}

	 	&:last-child {
	 		&:after {
	 			content: " ";
	 		}
	 	}
	}
}

/*..................................the image utilities */
img.size-auto,
img.size-full,
img.size-large,
img.size-medium,
.attachment img {
	max-width: 100%; /* When images are too wide for containing element, force them to fit. */
	height: auto; /* Override height to match resized width for correct aspect ratio. */
}
.alignleft,
img.alignleft {
	display: inline;
	float: left;
	margin-right: 24px;
	margin-top: 4px;
}
.alignright,
img.alignright {
	display: inline;
	float: right;
	margin-left: 24px;
	margin-top: 4px;
}
.aligncenter,
img.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
img.alignleft,
img.alignright,
img.aligncenter {
	margin-bottom: 12px;
}










.entry-title {
	
}

.entry-meta {
	
}

.entry-utility {
	
}

.entry-content {
	
}

.entry-summary {
	
}

/*..................................the slides */
#slides {
  position: relative;
  z-index: 0;
}
#slides .slides-container {
  display: none;
}
#slides .scrollable {
  *zoom: 1;
  position: relative;
  top: 0;
  left: 0;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  height: 100%;
}
#slides .scrollable:after {
  content: "";
  display: table;
  clear: both;
}

.slides-navigation {
  margin: 0 auto;
  position: absolute;
  z-index: 3;
  top: 46%;
  width: 100%;
}
.slides-navigation a {
  position: absolute;
  display: block;
}
.slides-navigation a.prev {
  left: 0;
}
.slides-navigation a.next {
  right: 0;
}

.slides-pagination {
  position: absolute;
  z-index: 3;
  bottom: 50px;
  text-align: center;
  width: 100%;
}
.slides-pagination a {
  border: 2px solid @white;
  border-radius: 15px;
  width: 10px;
  height: 10px;
  display: inline-block;
  margin: 2px;
}

.slides-pagination a.current {
  background: @white;

  &:first-child {
  	background: @cream;
  }

  &:nth-child(2) {
  	background: @blueGreen;
  }

  &:nth-child(3) {
  	background: @royalPurple;
  }

  &:nth-child(4) {
  	background: @princessPink;
  }
}
